html {
  font-size: 14px;
  height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

span.material-icons {
    display: inline-flex;
    vertical-align: middle;
}

.page-wrap {
    min-height: 100vh;
}

a:hover {
    text-decoration: none;
}

.container {
  max-width: 1500px;
  background: #FFF;
}

.container.index {
    margin-top: auto;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 13rem;
  /* min-width: 290px; */
}

.card-title.pricing-card-title.price {
  font-size: 1rem;
}

h1.card-title.pricing-card-title.asignatura {
  font-size: 1.23rem;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

img.logo {
  margin-right: 15px;
}

input#fileArchivo {
  padding-bottom: 36px;
}

span.material-icons.stats {
  font-size: 92px;
}

.dropdown-item {
    text-align: center;
}

.dropdown-menu.show {
    text-align: center;
}

/* Pagination */

a.page {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

a.page:hover {
  background: rgba(0,0,0,.03);
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #333;
}

a.terminosycondiciones {
  color: #007bff;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  background-color: #245ea3;
}

.text-primary {
  color: #007bff;
}

/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/* Settings page */

input.btn.btn-danger.full-width {
  width: 100%;
}

.col-md-4.margin-top {
  margin-top: 2%;
}

/*
 * Base structure
 */

html,
body {
	background: #fefeff linear-gradient(180deg,#dfecf5 0,#fefeff);
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.border-azul-claro {
  /* border-color: #daf0fa!important;
  border: 1px solid; */
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
  border: 1px solid rgba(26,54,126,0.125);
}

.border-plomo {
  border:1px solid #ced4da;
}

.bg-azul-claro {
  background-color: rgba(37,170,226,.07);
}

.bg-azul {
  background-color: #245ea3;
  color: white;
}

.bg-azul-especial {
  background: rgba(147,206,222,1);
  background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
  background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
}

.bg-rosado-especial {
  background: rgba(207,141,224,1);
  background: -moz-linear-gradient(left, rgba(207,141,224,1) 0%, rgba(163,39,163,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(207,141,224,1)), color-stop(100%, rgba(163,39,163,1)));
  background: -webkit-linear-gradient(left, rgba(207,141,224,1) 0%, rgba(163,39,163,1) 100%);
  background: -o-linear-gradient(left, rgba(207,141,224,1) 0%, rgba(163,39,163,1) 100%);
  background: -ms-linear-gradient(left, rgba(207,141,224,1) 0%, rgba(163,39,163,1) 100%);
  background: linear-gradient(to right, rgba(207,141,224,1) 0%, rgba(163,39,163,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf8de0', endColorstr='#a327a3', GradientType=1 );
}

.bg-naranjo-especial {
  background: rgba(186,204,129,1);
  background: -moz-linear-gradient(left, rgba(186,204,129,1) 0%, rgba(152,184,48,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(186,204,129,1)), color-stop(100%, rgba(152,184,48,1)));
  background: -webkit-linear-gradient(left, rgba(186,204,129,1) 0%, rgba(152,184,48,1) 100%);
  background: -o-linear-gradient(left, rgba(186,204,129,1) 0%, rgba(152,184,48,1) 100%);
  background: -ms-linear-gradient(left, rgba(186,204,129,1) 0%, rgba(152,184,48,1) 100%);
  background: linear-gradient(to right, rgba(186,204,129,1) 0%, rgba(152,184,48,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bacc81', endColorstr='#98b830', GradientType=1 );
}

.titulo {
    color: #0167b7;
}

.titulo-negro {
  font-weight: 600;
  color: black;
}

.Count {
  font-size: 35px;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/* Cover */

.cover {
  padding: 0 1.5rem;
  margin-top: 10px;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.footer {
    color: #000;
}

footer.mastfoot.margin-top {
  margin-top: 1rem;
}

/* Steps */

.progressbar {
  counter-reset: step;
  margin-bottom: 100px;
}

.progressbar li {
  position: relative;
  list-style: none;
  float: left;
  width: 33.33%;
  text-align: center;
}

/* Circles */
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #FF9100;
   
  /* Center # in circle */
  line-height: 39px;
}

.progressbar li:after {
	content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: orange ;
  top: 20px; /*half of height Parent (li) */
  left: -50%;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active:before {
  background: #00E676;
  content: "\2714\0020";
  z-index: 100;
}

.progressbar li.active + li:after {
  background: #00E676;
}

.compraactiva {
    font-weight: bold;
}

li.active {
  z-index: 50;
}

/* FIN */

.bg-color {
    background: white;
	border-radius: .3rem;
}

.index-description {
    margin-bottom: 30px;
	padding-left: 17%;
	padding-right: 17%;
}

.list-group-item.d-flex.lh-condensed {
    word-break: break-word;
}

#tabla-lista-planificaciones {
    width: 100%;
    margin-top: 11px;
}

#tabla-lista-recomendados {
  width: 100%;
}

#tabla-lista-guias {
  width: 100%;
}

.container-separado {
    margin-bottom: 25px;
}

button.btn.tabla {
    height: 34px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-top: 0px;
}

/* Messages */

hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

/* Profile */

.row.counter-profile {
  margin-top: 36px;
  padding-left: 50px;
}

.btn-group.dropup.btn-block.options {
    width: auto;
    height: 44px;
}

button.btn.btn-primary.margin {
    margin-right: 9px;
}

img.card-img.profile {
    width: 43%;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 50%;
}

.card.mb-3.profile {
    padding-right: 3rem;
}

figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
  background: #245ea3;
  border-radius: 2px;
  color: #f5f5f5;
  font-weight: bold;
  padding: 2px 4px;
}

div#nav-tabContent {
  background: #fff;
	padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-color: #dee2e6 #dee2e6 #fff !important;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid ;
}

/* Tables */ 

.buscador {
  padding-top: 13px;
  padding-bottom: 13px;
  width: 32%;
  float: right;
}

.buscador.arriba {
  margin-top: -59px;
}

.list {
  display: flex;
  padding: 0;
  flex-flow: row wrap;
}

tbody.list.limpio {
  display: contents;
}

tbody.list tr {
  background-color: rgba(0,0,0,.03);
  border: 1px solid rgba(0,0,0,.125);
}

.table td, .table th {
  vertical-align: middle !important;
}

/* Fixes DataTables */

table.dataTable tbody tr {
    background-color: rgba(0,0,0,.03) !important;
}

.nav-tabs .nav-link {
  background: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #fff;
}

input.form-control.left {
  margin-left: 0px;
}

table.dataTable thead th, table.dataTable tfoot th {
    background: #245ea3;
    color: white;
}

/* Anothers fixes */

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #6c757d;
  background-color: transparent;
  pointer-events: none;
  cursor: default;
}

.jumbotron {
  padding-bottom: 20px;
}

h4.d-flex.justify-content-between.align-items-center.mb-3.margin-top {
  margin-top: 1rem;
}

h4.d-flex.justify-content-between.align-items-center.mb-3.margin-bottom {
  margin-top: 1rem;
}

.row.nomargin-left {
  margin-left: 0px;
}

/* Carusel */

.MultiCarousel { 
  float: left; 
  overflow: hidden; 
  padding-left: 15px; 
  padding-right: 15px;
  width: 100%; 
  position:relative; 
}
.MultiCarousel .MultiCarousel-inner { 
  transition: 1s ease all; 
  float: left; 
}
.MultiCarousel .MultiCarousel-inner .item { 
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div { 
  text-align: center; 
  padding:10px; margin:10px; 
  color:#666; 
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { 
  position:absolute; 
  border-radius:50%;
  top:calc(50% - 20px); 
}
.MultiCarousel .leftLst { 
  left:0; 
}
.MultiCarousel .rightLst { 
  right:0; 
}
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
  pointer-events: none; 
  background:#ccc; 
}

/* FIN */

/* Timeline admin */

ul.timeline {
  list-style-type: none;
  position: relative;
  text-align: left;
}

ul.timeline:before {
  content: ' ';
  background: #6f8392;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #245ea3;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

/* FIN */

#chart-container {
  width: 100%;
  height: auto;
}
